.group-list-item {
    width: 20rem;
    min-width: 20rem;
    border: 1px solid;
    border-radius: 3px;
    min-height: 30rem;
    max-height: 30rem;
}

.group-list-item .header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid;
}

.group-list-item .header .delete-btn {
    border: none;
    background: #ececec;
    cursor: pointer;
    border-radius: 50%;
}

.group-list-item .children {
    height: calc(100% - 2.1rem);
}